@using Hospital.Core
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> _userManager
@model EditApplicationUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div>
                <input type="hidden" name="returnController" value="@ViewBag.ReturnController" />
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" />
                <label asp-for="Name" class="control-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control" aria-required="true" data-placeholder="Select Gender">
                    <option value=""></option>
                </select>
                <label asp-for="Gender" class="control-label"></label>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Nationality" class="form-control" />
                <label asp-for="Nationality" class="control-label"></label>
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Address" class="form-control" />
                <label asp-for="Address" class="control-label"></label>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="DOB" class="form-control" />
                <label asp-for="DOB" class="control-label"></label>
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            @if (Model.IsDoctor)
            {
                <div class="form-floating mb-3">
                    <input asp-for="Specialist" class="form-control" />
                    <label asp-for="Specialist" class="control-label"></label>
                    <span asp-validation-for="Specialist" class="text-danger"></span>
                </div>
            }
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Email" class="control-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="CurrentPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="CurrentPassword" class="control-label"></label>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="NewPassword" class="control-label"></label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PictureUrl" class="control-label"></label>
                <input asp-for="PictureUrl" class="form-control" />
                <span asp-validation-for="PictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="@ViewBag.ReturnController" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}